:root {
  --primary: #804ed5;
}

* {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(191, 227, 241);
  width: 100%;
  padding: 1rem;
}

body {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  text-align: center;

}

input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}


#output {
  margin-top: 1rem;
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
}

table {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 100%;
}

td {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}


.footer {
  background-color: var(--primary);
  padding: 2rem;
  color: white;
  /* width: 100%; */
  margin-top: 2rem;
  border-radius: 1rem 1rem 0rem 0rem; 
}

.footer .social-links {
  display: flex;
  flex-direction: row;
}

.footer .social-links .list-item-inline {
  margin: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}
